{
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 80,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames"
  ],
  "tailwindStylesheet": "./src/app.css"
}