@font-face {
  font-family: 'At Dead of Night Text';
  font-display: block;
  src: url('/fonts/cas400.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'At Dead of Night Text';
  font-display: block;
  src: url('/fonts/cas500.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'At Dead of Night Display';
  font-display: block;
  src: url('/fonts/head400.ttf');
  font-weight: 400;
}